@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100%;
  height: 100%;
  color: #333;
  background-color: #f7f7f7;
  font-size: 1em;
  font-family: "Segoe UI",sans-serif;
  line-height: 135%;
}
a {
  color: #f48b8b;
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;
}

a:hover {
  color: #8b9ff5;
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;
}

a:active {
  color: #8ce4a6;
}

img{
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.right { float: right; }
.left {float: left;}
/* Selection block */
::selection {
  background-color: #f58b8b;
  color: #fff;
}
::-moz-selection{
  background-color: #f58b8b;
  color: #fff;
}

header, footer {
  width: 98%;
  background-color: #fff;
  min-height: 50px;
}

header {
  border-bottom: 2px solid silver;
  padding: 1%;
}
#logo{
  /*color: silver;*/
  font-size: 2em;
  font-family: Comic Sans MS, sans-serif;

}

.contact {
  font-size: 1.5em;
  font-family: Comic Sans MS, sans-serif;
  margin-left: 20px;
}

input[type=text].field{
  border-radius: 2px;
  border: 2px solid silver;
  padding: 5px;
  margin-left: 20px;
}
input[type=text].field:focus{
  border: 2px solid #f58b8b;
}

footer {
  border-top: 2px solid silver;
  margin-top: 10px;
  padding: 1%;
  padding-bottom: 5px;
}
